<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Registro de Productos</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<script src="/js/jquery.js" type="text/javascript"></script>
	<script src="/js/popper.js" type="text/javascript"></script>
	<script src="/js/bootstrap.js" type="text/javascript"></script>
	<link href="/css/estilos.css" rel="stylesheet" />
</head>
<body style="background-image: url(/img/fondo.png); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">

				<div class="col-lg-12">
					<h1 class="display-7 text-white" style="background-color: black; text-align:center">Control de Productos</h1>
				</div>
		
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="text-center">Registro de nuevo Producto</h1>
				<a href="/listadoP" class="btn btn-success">Volver al registro</a>
				<span style="color: black; font-size:15px;" class="required_notification">* Datos requeridos</span>
				<hr>
				<form method="post" name="producto" action="/registrarP" >
				<input type="hidden" name="id"    th:value="${producto.id}"/>
					<div class="form-group row">
						<label for="" class="col-sm-2 form-control-label">Nombre del producto:</label>
						<div class="col-sm-10">
							<input type="text"  name="nombre" placeholder="Nombre del producto" class="form-control" id="" th:value="${producto.nombre}" required pattern="[A-Za-z]+">
						</div>
					</div>
					<div class="form-group row">
						<label for="" class="col-sm-2 form-control-label">Descripcion del producto:</label>
						<div class="col-sm-10">
							<input type="text"  name="descripcion" placeholder="Descripcion del producto" class="form-control" id="" th:value="${producto.descripcion}" required pattern="[A-Za-z0-9]+">
						</div>
					</div>
				
					<div class="form-group row">
						<label for="" class="col-sm-2 form-control-label">Marca del producto:</label>
						<div class="col-sm-10">
							 	<select name="marca" th:value="${producto.marca}">
    								<option th:each="m:${marca}" th:text="${m.nombre}" th:value="${m.id}" th:required></option>
								</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-secondary">Editar Producto</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
