<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Parcial3</title>
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
	rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/css/slick.css" />
<link type="text/css" rel="stylesheet" href="/css/css/slick-theme.css" />
<link type="text/css" rel="stylesheet"
	href="/css/css/nouislider.min.css" />
<link rel="stylesheet" href="/css/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/css/css/style.css" />


<!-- FROALA EDITOR WYSIWYG-->
<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />

</head>
<body
	style="background-image: url(/img/m.jpg); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
	<header>
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> +503 72772277</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i>
							ventacel@gmail.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i>
							Chalatenango, Chalatenango, El Salvador</a></li>
				</ul>
				<ul class="header-links pull-right">
					<li><a href="#"><i class="fa fa-user-o"></i> Cerrar Sesion</a></li>
				</ul>
			</div>
		</div>
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="header-logo"></div>
					</div>
					<div class="col-md-8">
						<nav id="navigation">
							<div class="container">
								<div id="responsive-nav">
									<nav class="menu">
										<ul class="main-nav nav navbar-nav">
											<li><a href="/cliente/index">Inicio</a></li>
											<li class="submenu"><a href="#"><span
													class=" icon-user-tie"></span>Informacion de Cliente<span
													class="carete icon-circle-down"></span></a>
												<ul class="children">
													<li><a href="/cliente/registro" onclick=""
														onkeypress=""><span class="icon-user"></span> Registro
															de Cliente</a></li>
													<li><a href="/cliente/cli" onclick="" onkeypress=""><span
															class="icon-user"></span> Listado de Cliente</a></li>
												</ul></li>
											<li class="submenu"><a href="#"><span
													class=" icon-user-tie"></span>Información de Producto<span
													class="carete icon-circle-down"></span></a>
												<ul class="children">
													<li><a href="/producto/registroP" onclick=""
														onkeypress=""><span class="icon-user"></span> Registro
															de producto</a></li>
													<li><a href="/producto/pro" onclick="" onkeypress=""><span
															class="icon-user"></span> Listado de Productos</a></li>
												</ul></li>
											<li><a href="#">Generar Venta</a></li>
										</ul>
									</nav>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			<br>
				<h1 class="text-center" style="color: black;">Actualizar Producto</h1>
	
				<hr>
				<form method="post" name="producto" action="/producto/registrarP"
					modelAttribute="producto">
					<input type="hidden" name="id" th:value="${producto.id}" />
					<div class="form-group row">
						<label for="" class="col-sm-2 form-control-label" style="color: black;" >Nombre</label>
						<div class="col-sm-10">
							<input type="text" name="nombre"
								placeholder="" class="form-control" id=""
								th:value="${producto.nombre}" required>
						</div>
					</div>
					<div class="form-group row">
						<label for="" class="col-sm-2 form-control-label"
							style="color: black;">Descripción</label>
						  <div id="froala" class="col-sm-10">
							 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
							 <script type="text/javascript">
							 	new FroalaEditor('#froala');
							 </script>
						</div> 
					</div>
					
					<div class="form-group row">
						<label for="" class="col-sm-2 form-control-label" style="color: black;">Cantidad</label>
						<div class="col-sm-10">
							<input type="number" name="cantidad"
								placeholder="" class="form-control"
								id="" th:value="${producto.existencia}" required
								pattern="[0-9]+">
						</div>
					</div>
					
					<div class="form-group row">
						<label for="" class="col-sm-2 form-control-label" style="color: black;">Precio</label>
						<div class="col-sm-10">
							<input type="number" name="precio"
								placeholder="$00.00" class="form-control"
								id="" th:value="${producto.precio}" required
								pattern="[0-9]+">
						</div>
					</div>

					<div class="form-group row">
						<label for="" class="col-sm-2 form-control-label"
							style="color: black;" >Marca</label>
						<div class="col-sm-10">
							<select name="marca" class="mdb-select md-form">
							<option value="" disabled selected>Elige una opción</option>
								<option th:each="m:${marca}" th:text="${m.nombre}"
									th:value="${m.id}" th:required></option>
							</select>
							<a href="/marca/registroM" class="btn btn-primary" style="color: black;">Nueva marca</a>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Actualizar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
