<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Parcial3</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/css/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="/css/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/css/css/slick-theme.css"/>
		<link type="text/css" rel="stylesheet" href="/css/css/nouislider.min.css"/>
		<link rel="stylesheet" href="/css/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="/css/css/style.css"/>

    </head>
	<body style="background-image: url(/img/m.jpg); background-position: center center;
	 background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +503 72772277</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> venta@gmail.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> Chalatenango, Chalatenango, El Salvador</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
						<li><a href="#"><i class="fa fa-user-o"></i> Cerrar Sesion</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-8">
							<!-- NAVIGATION -->
							<nav id="navigation">
								<!-- container -->
								<div class="container">
									<!-- responsive-nav -->
									<div id="responsive-nav">
										<!-- NAV -->
										<nav class="menu">
										<ul class="main-nav nav navbar-nav">
											<li class="active"><a href="/index">Inicio</a></li>
											<li class="submenu">
									            <a href="#"><span class=" icon-user-tie"></span>Informacion de Cliente<span class="carete icon-circle-down"></span></a>
									            <ul class="children">
									              <li>
									                  <a href="/registro" onclick="" onkeypress=""><span class="icon-user"></span> Registro de Cliente</a>
									              </li>
									              <li>
									                  <a href="/cliente" onclick="" onkeypress=""><span class="icon-user"></span> Listado de Cliente</a>
									              </li>
									            </ul>
									       	</li>
											<li class="submenu">
									            <a href="#"><span class=" icon-user-tie"></span>Inventario<span class="carete icon-circle-down"></span></a>
									            <ul class="children">
									              <li>
									                  <a href="/registroP" onclick="" onkeypress=""><span class="icon-user"></span> Registro de producto</a>
									              </li>
									              <li>
									                  <a href="/inventario" onclick="" onkeypress=""><span class="icon-user"></span> inventario</a>
									              </li>
									            </ul>
									       	</li>
											<li><a href="/registrodetventa">Generar Venta</a></li>
										</ul>
										</nav>
										<!-- /NAV -->
									</div>
									<!-- /responsive-nav -->
								</div>
								<!-- /container -->
							</nav>
							<!-- /NAVIGATION -->
						</div>
						<!-- /SEARCH BAR -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<p class="alert alert-success alert-dismissible fade show"
					role="alert" th:if="${exito!=null}" th:text="${exito}"></p>
				<p class="alert alert-info alert-dismissible fade show" role="alert"
					th:if="${warning!=null}" th:text="${warning}"></p>
				<p class="alert alert-danger alert-dismissible fade show"
					role="alert" th:if="${error!=null}" th:text="${error}"></p>
				<a href="pdf" class="btn btn-info">Generar Report</a> 
				<a href="/inventario" class="btn btn-info">Registrar nuevo inventario</a>
			
				<div>
					<h1 class="text-center" style="color:white;">Inventario de productos registrados</h1>
				</div>
				<table style="background-color:black; border: 1px solid white;" class="table table-inverse table-hover mt-5">
					<thead>
						<tr >
						<th style="color:cyan; ">Id</th>
							<th>Nombre del producto</th>
							<th>Cantidad de producto</th>
							<th>Precio del producto</th>
							<th>Marca del producto</th>
							<th>Descripcion del producto</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="inventario : ${inventario}">
							<td  th:text="${inventario.id}"></td>
							<td  th:text="${inventario.producto.nombre}"></td>
							<td style="color:white;" th:text="${inventario.cantidad}"></td>
							<td style="color:white;" th:text="${inventario.precio}"></td>
							<td style="color:white;" th:text="${inventario.producto.marca.nombre}"></td>
							<td style="color:white;" th:text="${inventario.producto.descripcion}"></td>
							<td>
								<a th:href="@{'/editarinv/'+${inventario.id}}" class="btn btn-success">Editar</a> 
								<a th:href="@{'/eliminarinv/' + ${inventario.id}}" class="btn btn-danger">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</body>
</html>
